.rodeKnop {
    display: block;
    position: absolute;
    grid-column: col 1/ span 8;
    height: 60px;
    background: #CC0000;
    border-color: #CC0000;
    border-top-left-radius: 30px;
    color: #fff;
    bottom: 10%;
}