header{
    background-color: #F7F6F6;
    padding: 3% 0;
    position: relative;
    text-align: center;
}
header h1{
    font-size: 45px;
}
#menuToggle{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 5%;
}

#menu a li{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    
    list-style: none;
    font-size: 35px;
    padding: 7% 0 7% 0;
    
}
#menu a{
    text-decoration: none;
}
#menuToggle div{
  width: 50px;
  height: 7px;
  margin: 5px 0;
  background: gray;
  border-radius: 3px;



}

