header{
    background-color: #F7F6F6;
    padding: 3% 0;
    display: flex;
/*    height: 10%;*/
}



header h1{
    font-size: 45px;
    width: 100%;
    margin: auto;

/*
    display: inline-block;
    width: 90%;
    float: left;
*/
    text-align: center;
  
}



/*
#menuToggle .hamburger{
    
    display: inline-block;
    float: right;
    width: 10%;
    
}
*/

#menuToggle{
    margin-right: 2%;
}

#menu a li{
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    
    list-style: none;
    font-size: 35px;
    padding: 7% 0 7% 0;
    
}

#menu a{
    text-decoration: none;
}


#menuToggle div{
  width: 50px;
  height: 7px;
  margin: 5px 0;
  background: gray;
  border-radius: 3px;



}

