body{
    height: 100vh;
    grid-template-rows: repeat(4, 1fr);
}

.dropdown{
    grid-column: 1 / span 8;
    grid-row: 1/ span 1;
    text-align: center;
    padding: 10px;
    height: 30%;
    border: 2px solid #333;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/icons/arrowDropDown.svg");
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1em auto, 100%;
    
}

.dropdown:focus {
    border-color: #CC0000;
    border-top-left-radius: 30px;
    border-bottom-style: none;
}

.dropdown option{
  
}