@import url("Navigatie.css");

form h1 {
    padding: 3% 0;
    font-size: 36px;
}

form h1 img {
    width: 40px;
    margin: 0 1%;
}
form h1 p {
    border: solid 1px #333333;
    padding: 1% 4%;
    display: inline;
    font-weight: 300;
    
}
main{
    margin-top: 10vh;
}
form input[type="text"] ,  textarea {
    font-weight: 300;
    /* light */
    font-size: 32px;
    /* = 16px in design */
    opacity: 0.7;
    border: none;
    border: solid 1px black;
    margin: 0 0 5% 0;
    padding: 2% 0 2% 12.875%;
}

form input[type="text"]:focus , textarea:focus {
    border-radius: 10px 0 0 0;
    border: solid 1px #CC0000;
}

/*bevistigen*/
form button{
    border: none;
    background-color: #333333;
    padding: 5px 0;
    margin: 10px 0;
}
form button img{
    display: block;
    margin: 5px auto;
    width: 45px;
}
 /*TOEVOEGEN*/
form .ADD{
    display: flex;
}
form .ADD h1{
    text-align: center;
    width: 22.75%;
}
form .ADD input[type="submit"]{
    border: none;
    color: #CC0000;
    font-size: 32px;
    background-color: white;
    border: solid 1px #CC0000;
}


/*SLIDER*/
form .switch {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-0%, -50%);
    width: 120px;
    height: 45px;
    border-radius: 5px 0 0 0;
    background-color: grey;
}

form .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

form .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

form .doelstelling {
    position: relative;
}

form .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 50px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    border-radius: 5px 0 0 0;
    -webkit-transition: .4s;
    transition: .4s;
}

form input:checked + .slider {
    background-color: #CC0000;
}

form input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}
