h1 {
    padding: 3% 0;
}

h1 img {
    width: 15px;
    margin: 0 1%;
}

input[type="text"] {
    font-weight: 300;
    /* light */
    font-size: 16px;
    /* = 16px in design */
    opacity: 0.7;
    border: none;
    box-shadow: inset 0 0 1px 0px black;
    margin: 0 0 5% 0;
    padding: 2% 0 2% 12.875%;
}


input[type="text"]:focus {
    border-radius: 5px 0 0 0;
    box-shadow: inset 0 0 1px 0.5px #CC0000;
}

button{
    border: none;
    background-color: #333333;
    color: white;
    padding: 8px;
    margin: 8px 0;
}
button img{
    width: 5%;
}
.ADD{
    display: flex;
}
.ADD h1{
    text-align: center;
    width: 22.75%;
}
.ADD input[type="submit"]{
    border: none;
    color: #CC0000;
    background-color: white;
    box-shadow: inset 0 0 1px 0.5px #CC0000;
}


/*SLIDER*/
.switch {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(-0%, -50%);
    width: 55px;
    height: 20px;
    border-radius: 5px 0 0 0;
    background-color: grey;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.doelstelling {
    position: relative;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 25px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 5px 0 0 0;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #CC0000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
