@import url("Navigatie.css");

body{
    height: 100vh;
    background-image: url('../img/blond-cellphone-coffee-1076814.jpg');
    background-position: center;
    background-size: cover;
    overflow: auto;
}
/*.rodeKnop, .homeKnop*/

.homeKnop{
    margin-top: 75vh;
}
.rodeKnop{
    margin-top: 2vh;
}
