@import url("Navigatie.css");

body{
    height: 100vh;
    background-color: dimgrey;
    overflow: auto;
}
/*.rodeKnop, .homeKnop*/

.homeKnop{
    margin-top: 75vh
}
.rodeKnop{
    margin-top: 2vh;
}