.kaartje {
    width: 100%;
    min-height: 156px;
    border: 2px solid;
    border-top-left-radius: 30px;
    margin-bottom: 40px;
    padding-top: 5.2vw;
    padding-bottom: 5.2vw;
    box-sizing: border-box;
    overflow: auto;
}

.kaartje h2 {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 1vh;
}


.storyboardKaart {
    margin-left: 12.875%;
}

p.storyboardKaart {
    color: #333333;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.1;
    width: 74.25vw;
    margin-top: .5vh;
    margin-bottom: 2.5vh;
}

.editKaartje {
    background-image: url(../img/icons/gear.svg);
    width: 36px;
    height: 36px;
    color: rgba(0,0,0,0);
    float: right;
    display: block;
    margin-right: -115px;
    margin-top: -28px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 132px solid transparent;
    float: right;
    margin-top: -5.2vw;
}

.triangleoranje {
    border-top: 132px solid #F2832E;
}

.trianglegroen {
    border-top: 132px solid #809332;
}

.trianglepaars {
    border-top: 132px solid #6363A3;
}

.trianglegeel {
    border-top: 132px solid #FFCC00;
}

.triangleaqua {
    border-top: 132px solid #48A5A5;
}

.triangleroze {
    border-top: 132px solid #F77E8A;
}

.oranje {
    color: #F2832E;
    border-color: #F2832E;
}  

.groen {
    color: #809332;
    border-color: #809332;
}

.paars {
    color: #6363A3;
    border-color: #6363A3;
}

.geel {
    color: #FFCC00;
    border-color: #FFCC00;
}

.aqua {
    color: #48A5A5;
    border-color: #48A5A5;
}

.roze {
    color: #F77E8A;
    border-color: #F77E8A;
}