.storyboardInfo a:visited {
    color: #333;
}

*{
    box-sizing: border-box;
}
/* grid */

body{   
        margin-left: 5.2%;
        margin-right: 5.2%;
    }

/* font */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

*{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.fontHeaderLarge{
    font-weight: 400;
    font-size: 50px;
    color: #333;
}

.fontKnop{
    font-weight: 400; /* regular */
    font-size: 40px; /* = 18px in design */
}

.fontRegular{
    font-weight: 300; /* light */
    font-size: 36px; /* = 16px in design */
}

h6{
    font-weight: 700;
    font-size: 34px;
    color: #333;
}