*{
    box-sizing: border-box;
}

/* grid */

body{   
        margin-left: 5.2%;
        margin-right: 5.2%;
    }


/* gebruik:
     grid-column: col 6/ span 5;

    kolommen, je schrijft achter col op welke kolom je blok wil starten en achter span, schrijf je hoeveel kolommen breed het moet zijn

    grid-row: 1 /span 5;
    Zelfde systeem als kolommen maar dan voor rijzen
    
    PS: Dit werkt enkel op blokjes die directe kinderen zijn van de body. */

/* font */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

*{
    font-family: 'Lato', sans-serif;
}

.fontKnop{
    font-weight: 400; /* regular */
    font-size: 36px; /* = 18px in design */
}

.fontRegular{
    font-weight: 300; /* light */
    font-size: 32px; /* = 16px in design */
}
.fontHeaderLarge{
    font-weight: 400; /* medium */ 
    font-size: 60px;
}

