header {
    background-color: #F7F6F6;
    padding: 6% 5.2% 4% 5.2%;
    height: 10vh;
    width: 100vw;
    margin-left: -5.2vw;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    overflow: auto;
}

.pijlTerug{
/*    float: left;*/
    display: block;
    float:left;
    height: 4vh;
/*    left: 5.2%;*/
    margin-left: 2.6%;
    width: 5%;
/*    margin-top: 0.5vh;*/
    background-image: url("../img/icons/pijl_terug.svg");
    background-repeat: no-repeat;
}

header h1 {
    
/*    top: 4vh;*/
    color: #333;
    margin-right: 7vw;
 margin-top: 1.05vh;
/*    width: 80%;*/
}

#menu {
    position: absolute;
    Top: 0;
    right: 0;
    width: 89.6%;
    height: 100vh;
    padding-right: 18.075vw;
    padding-top: 5vh;
    background-color: #F7F6F6;
    z-index: 1;
}

#menu a {
    display: block;
    width: 100%;
    text-align: right;
    color: #333;
    list-style: none;
    font-size: 35px;
    text-decoration: none;
    margin-top: 8vh;
    font-weight: 400;
    font-size: 44px;
}

#menuToggle,
#pijlTerugRood {
    position: absolute;
    transform: translate(-50%, -50%);
    float: right;
    width: 10%;
    background-repeat: no-repeat;
    background-size: contain;
}

#menuToggle {
    top: 5vh;
    height: 3vh;
/*    float: right;*/
    right: .1%;
    display: block;
    margin-top: 0.8vh;
    background-image: url("../img/icons/HamburgerMenu.svg");
}

#pijlTerugRood {
    height: 4vh;
    right: .1%;
    margin-top: 0.5vh;
    
    background-image: url("../img/icons/terugPijlRood.svg");

}
