header {
    background-color: #F7F6F6;
    padding: 6% 5.2% 4% 5.2%;
    height: 10vh;
    width: 100vw;
    margin-left: -5.2vw;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
}

header h1 {
    color: #333;
}

#menu {
    position: absolute;
    Top: 0;
    right: 0;
    width: 89.6%;
    height: 100vh;
    padding-right: 18.075vw;
    padding-top: 5vh;
    background-color: #F7F6F6;
}

#menu a {
    display: block;
    width: 100%;
    text-align: right;
    color: #333;
    list-style: none;
    font-size: 35px;
    text-decoration: none;
    margin-top: 8vh;
    font-weight: 400;
    font-size: 44px;
}


#menuToggle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 5%;
    float: right;
    width: 4vh;
    height: 4vh;
    margin-top: 1vh;
    background-image: url("../img/icons/HamburgerMenu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;

}
