header {
    width: 100%;
    background-color: #F7F6F6;
    position: fixed;
    top: 0;
    margin-left: -5.2%;
    z-index: 1;
    box-shadow: 0px 1px 10px grey;
    height: 10vh;
}

header > div {
    position: relative;
    padding: 3.5vh;
   
}
header h2{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.pijlTerug {
    position: absolute;
    top: 50%;
    left: 5.2%;
    transform: translate(0%, -50%);
    height: 4vh;
    width: 3%;
}

.menuToggle {
    height: 3vh;
    top: 50%;
    right: 5.2%;
    position: absolute;
    transform: translate(0%, -50%);
}
.terug{top: 4.5%;}

header h1 {
    font-family: "lato";
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

nav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 100%;
    background-color: #F7F6F6;
    text-align: right;
    font-family: 'lato';
    padding: 10% 9.875% 0 20%;
}

nav a {
    font-size: 46px;
    font-weight: 400;
    width: 425px;
    padding: 50px 0;
    text-decoration: none;
    color: #333;
    display: block;

}
