footer{
    margin-left: -5.2vw;
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 200px solid #F7F6F6;
    border-right: 200px solid transparent;
    position: fixed;
    bottom: 0;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));
}

div.bolletjes {

    width: 4vh;
    height: 4vh;
    background-image: url("../img/icons/Buttons.svg");
    margin-left: 5vw;
    margin-top: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
}

div.terug {

    width: 4vh;
    height: 4vh;
    background-image: url("../img/icons/pijl_terug.svg");
    margin-left: 3vw;
    margin-top: 10vw;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
}


#opties {

    bottom: 0;
    position: fixed;
    background-color: #F7F6F6;
    width: 100%;
    height: 7%;

}

#opties div {
    display: inline-block;
    padding: 2% 7% 0 7%;
    margin-top: 3%;

    width: 3vw;
    height: 3vh;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
}

.save {

    background-image: url("../img/icons/save.svg");
    margin-left: 25vw;

}

.edit {

    background-image: url("../img/icons/edit.svg");

}

.stats {

    background-image: url("../img/icons/stats.svg");

}

.arrow {

    background-image: url("../img/icons/Pijl.svg");

}
