body{
    height: 100vh;
    grid-template-rows: repeat(4, 1fr);
}

.dropdown{
    text-align: center;
    height: 6vh;
    width: 100%;
    border: 2px solid #333;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/icons/arrowDropDown.svg");
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1em auto, 100%;
    margin-top: 4vh;
    /* style in javascript */
}

.dropdown:focus {
    border-color: #CC0000;
    border-top-left-radius: 30px;
    border-bottom-style: none;
}

.dropdown option{
  
}