@import url("Navigatie.css");

body {
    height: 100vh;
    grid-template-rows: repeat(4, 1fr);
}

.dropdown {
    text-align: center;
    height: 6vh;
    width: 100%;
    border: 2px solid #333;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../img/icons/arrowDropDown.svg");
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 0.8em auto, 100%;
    margin-top: 4vh;
    padding-left: 12.875%;
    /* style in javascript */
}

.dropdown:focus {
    border-color: #CC0000;
    border-top-left-radius: 30px;
}

.dropdown option{
    text-align: left;
    font-size: 16px;
}
h6 {
    text-align: center;
    display: block;
    margin-top: 4vh;
}

#donutchart {
    margin-top: 4vh;
    height: 46vh;
    width: 100%;
    margin-bottom: 6vh;
}
main{
    margin-top: 8vh;
}
.legendePRight,
.legendePLeft {
    display: inline-block;
    width: 35.625%;
    border-left: 5vw solid;
    padding-left: 3vw;
    margin-bottom: 1vh;
}

.legendePRight {
    float: right;
}

.legendePLeft {
    margin-left: 12.875%;
}

#roze {
    border-left-color: #F77E8A;
}

#oranje {
    border-left-color: #F2832E;
}

#paars {
    border-left-color: #6363A3;
}

#groen {
    border-left-color: #809332;
}

#blauw {
    border-left-color: #48A5A5;
}

#geel {

    border-left-color: #FFCC00;
}
