.uitzoomen {
    color: rgba(0, 0, 0, 0);
    background-image: url(../img/icons/verrekijker.svg);
    width: 9.875vw;
    height: 7vw;
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.lesfase {
    text-align: center;
    position: absolute;
    left: 33.625vw;
    margin-top: -65px;
    width: 45vw;
    color: #333;
    line-height: 1.2;
    z-index: -1;
}

.lesfase h2 {
    font-size: 32px;
    font-weight: 700;
}

#doelstellingen {
    display: inline-block;
}

#doelstellingDropdown {
    background-image: url(../img/icons/arrowDropDown.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-left: 5px;
}

.kaartjes {
    margin-bottom: 50px;
}

.kaartjeMethoden {
    width: 50vw;
}

.methodieken input {
    width: auto;
}

.methodieken {
    margin-left: 11vw;
    margin-top: 20px;
}

.methodieken input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.methodieken .label {
    font-size: 32px;
    font-weight: 300;
    color: #333;
    padding: 10px;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.methodieken .radio {
    border: 1px solid #333;
    border-radius: 25px;
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-right: 10px;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}

.methodieken input:checked ~ .radio:after {
    display: block;
}

.methodieken .radio:after {
    background-color: #809332;
    width: 40px;
    height: 40px;
    
}

.sluitKaartje {
    background-image: url(../img/icons/pijlRechts.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 36px;
    height: 36px;
    color: rgba(0, 0, 0, 0);
    float: right;
    display: block;
    margin-right: -115px;
    margin-top: -28px;
}

.bevestigKaartje {
    height: 96px;
    display: block;
    border: none;
    margin-bottom: -55px;
    margin-top: 50px;
}

.confirm {
    background-image: url(../img/icons/confirm.svg);
    width: 48px;
    height: 39px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

#plus {
    color: #333;
    border-color: #333;
    border-width: 1px;
}

#plusSymbool {
    font-size: 90px;
    width: 52px;
    display: block;
    margin: auto;
}

#plus a {
    display: block;
    padding: 4vw 9vw;
    text-decoration: none;
    color: white;
    font-size: 44px;
    box-sizing: border-box;
    width: 84.125vw;
    margin: auto;
    margin-top: 20px;
}

#plusOranje {
    background-color: #F2832E;
}

#plusGeel {
    background-color: #FFCC00;
}

#plusPaars {
    background-color: #6363A3;
}

#plusGroen {
    background-color: #809332;
}

#plusAqua {
    background-color: #48A5A5;
}

#plusRoze {
    background-color: #F77E8A;
}
