@import url("Navigatie.css");

.StoryboardInfo{
    width: 100%;
    min-height: 15vh;
    border-bottom: 2px solid #333;
    padding-left: 12.875%;
}

h6{
    display: block;
    margin-top: 4vh;
    font-weight: 400; /* regular */
    font-size: 40px; /* = 18px in design */
}

.extraInfo{
    display: block;
    margin-top: 1vh;
}

.rodeKnop{
    position: fixed;
    bottom: 7vh;
    width: 89.6%;
}

.content{
    margin-top: 15vh;
}
p{
    color: #333;
}